body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color:blueviolet;
}

.logo-container {
    position: relative;
    width: 200px;
    height: 200px;
    animation: rotateAnimation 5s linear infinite;
}

.youtube-logo {
    width: 100%;
    height: auto;
}

@keyframes rotateAnimation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.typewriter {
    overflow: hidden;
    white-space: nowrap;
    border-right: 0.15em solid #333; 
    font-size: 50px;
    animation: typewriter 3s steps(40) 1s forwards;
}

@keyframes typewriter {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}
 





